In [11]:
#q1 : Try to print a prime number in between 1 to 1000

for i in range(1,1000):
    if i>1:
        for j in range(2,i):
            if (i%j) == 0:
                break
        else:
            print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [9]:
#q2 : Try to write a function which  is equivalent  to print function in python
def traverse(*args):
    return args

In [10]:
traverse(2,4,6,7,8,[2,3])

(2, 4, 6, 7, 8, [2, 3])

In [13]:
#q3 : Try to write a function which is a replica of list append , extend and pop function 
#replica of append
def append1(l1,*x):
    return l1+[*x]

In [14]:
append1([1,3,5],2,4,"as")

[1, 3, 5, 2, 4, 'as']

In [15]:
# replica of extend function
def extend1(l1,l2):
    return list(l1)+list(l2)

In [16]:
extend1([2,7],['well',"yes","asmita"])

[2, 7, 'well', 'yes', 'asmita']

In [ ]:
#for pop function
def pop1(l3,*x):
    return(l3.remove(*x))

In [17]:
pop1([2,4,6,7,8,9,"asm"],2)

NameError: name 'pop1' is not defined

In [ ]:
#q4 : Try to write a lambda function which can return a concatination of all the string that we will
concat=lambda *args: "".join([i for i in args])

In [31]:
concat("asm","ita","kum","ari")

'asmitakumari'

In [32]:
#q5 : Try to write a lambda function which can return list of square of all the data between 1-100 
n=lambda x:[i**2 for i in x]

In [33]:
n(range(100))

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [12]:
#q7 : Try to write a funtion which can perform a read operation from .txt file 

def read1():
    f=open("abc.txt","r")
    print(f.read())
    f.close()
read1()

Hii Asmita,
WElcome to python!!!

In [10]:
#q7  : Try to write a funtion which can perform a read operation from .txt file 
def read2():
    f=open("abc.txt","r")
    for x in f:
        print(x)
    f.close()
read2()

Hii Asmita,

WElcome to python!!!

In [60]:
#lambda function example
#1
n=3
x= lambda a:(a*n)

In [62]:
x(3)

9

In [58]:
n=lambda x:[i**3 for i in x]

In [59]:
n(range(10))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [18]:
s="Deepak"
s[0:6:-1]

''

In [20]:
s="Deepak"
s[0::-1]

'D'