In [1]:
#1.
n=4
for i in range(n):
    for j in range(0,i+1):
        print("ineuron", end=" ")
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [ ]:
#2.

In [3]:
#3
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,6,7,5,4,5]),{'k1':"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","data science"]]

In [4]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 6, 7, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [4]:
#3. Try to extract all the list entity
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

In [5]:
#4.Try to extract all the dict entity
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [6]:
#5.Try to extract all the tuples entity
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [44]:
#function to find sum of list elements if they are integer

def int_sum_list(l):
    sum = 0
    for i in l:
        if type(i)==int:
            sum = sum + i
    return sum

In [45]:
int_sum_list([1,2,3,4,'g'])

10

In [90]:
# 6 Try to extract all the neumerical data it may be a part of dict key and values

for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                print(j)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == int :
                print(k)
            if type(v) == int:
                print(v)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
4
5
6
7
45
23
3
6
7
8

In [6]:
#q8: Try to filter out all the odd values out all neumeric data which is part of a list
for i in l :
    if type(i) == list:
        for j in i:
            if type(j) == int and j%2 == 1:
                print(j)

1
3

In [13]:
#q9: Try to extract "ineuron" out of this data
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i:
            if type(j) == str and j =="ineuron":
                print(j)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == str or k == "ineuron":
                print(k)
            if type(v) == str or v == "ineuron":
                print(v)

ineuron
ineuron

In [68]:
#q12: Try to filter out all the string data
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == str:
                print(j)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == str:
                print(k)
            if type(v) == str:
                print(v)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [71]:
#q13: Try to find out alphanum in data
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j)==str and j.isalnum() == True:
                print(j)
    if type(i) == dict:
        for k,v in i.items():
            if type(k)== str and k.isalnum() == True:
                print(k)
            if type(v)==str and v.isalnum() == True:
                print(v)

k1
sudh
k2
ineuron
k3
kumar
ineuron

In [88]:
#q11:Try to find out the number of keys in dict element--not done
for i in l:
    if type(i) == dict:
        print(len(i.keys()))

5

In [5]:
#q15. Try to unwrap all the collection inside collection and create a flat list
l1=[]
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            l1.append(j)
    if type(i) == dict:
        for  k , v in i.items():
            l1.append(k)
            l1.append(v)

In [14]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 4,
 5,
 6,
 7,
 45,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science']